/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}



/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1200px) {

    /* header section */
    .header-container{
        justify-content: space-between;
        padding: 10px 80px;
    }

    /* put young-sci logo */
    .top-header__left--logo a img{
        width: 100%;
        margin-top: -1px;
    }
    
    /* create 7 menus */
    .top-header__menu ul li{
        padding: 5px 1px;
        margin-top: -20px;
    }
    .top-header__menu ul li a{
        font-size: 17px;
        padding: 10px 14px;
    }
    .top-header__menu ul li a i{
        font-size: 30px;
    }
    
    /* create description */
    .title-course{
        margin-left: 50px;
    }
    .title-course p{ font-size: 18px; }

    @keyframes anime-left{
        10%{
          margin-left: 400px;
          transition: 0.5s;
        }
    }

    /* create box course */
    .course-box__list a img{ height: 130px;}

    /* choose course you want  */
    .choose-box button{
        font-size: 15px;
        height: 60px;
        padding: 0 20px;
    }

    .sect2{
        margin: 300px 80px;
    }

    .sect3{
        margin: -80px 80px;
    }

    /* create choice course container */
    .choice-container{
        margin-top: 100px;
        padding: 0 80px;
    }
    /* create each choice box */
    .choice-box{
        gap: 100px;
    }

    .choice-box a img{
        width: 150%; height: 160px;
    }

    /* create description */
    .choice-box > .middle-description{
        width: 100%;
    }


    /* create footer container */
    .last-footer{
        padding: 50px 0;
        justify-content: space-between;
        margin-top: 1100px;
    }

    /* create logo and text below  */
    .last-footer .last-logo img{
        margin: 10px 25%;
    }
    .last-logo p{
        font-size: 14px;
        margin: 10px 10px;
    }

    .middle-more__info{
        margin-left: 5%;
    }

    .middle-more__info p{
        margin-left: -15px;
        font-weight: bold;
    }

    .social-media__list ul li a{
        font-size: 25px;
    }
    .social-media__list ul li a span{
        font-size: 14.5px;
    }

    /* create two link columns */
    .choose-course p{
        margin-left: -30px;
    }

    .column-course ul li a{
        font-size: 14px;
    }
}






/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 992px) {
	/* header section */
	.header-container{
        justify-content: space-between;
        padding: 0 50px;
        height: 100px;
    }

    /* put young-sci logo */
    .top-header__left--logo a img{
        width: 100%; height: 60px;
        margin-top: 18px;
    }

    /* create 7 menus */
    .top-header__menu ul li{
        padding: 5px 1px;
        margin-top: -15px;
    }
    .top-header__menu ul li a{
        font-size: 15px;
        padding: 10px 12px;
    }

    .top-header__menu ul li a i{
        font-size: 20px;
    }

    .field{margin-top: 140px;}

    /* create description */
    .title-course{
        margin-left: 50px;
        margin-top: 70px;
    }
    .title-course h1{
        font-size: 25px;
    }
    @keyframes anime-left{
        10%{
          margin-left: 300px;
          transition: 0.5s;
        }
    }



    .title-course p{ font-size: 15px; }

    /* create box course */
    .course-box__list a img{ height: 100px;}

    /* choose course you want  */
    .choose-box button{
        font-size: 13px;
        height: 60px;
        padding: 0 25px;
    }


    .sect1{
        margin-top: -140px;
    }
    .sect2{
        margin: 200px 80px;
    }

    .sect3{
        margin: -80px 60px;
    }

    .sect2 p, .sect3 p, .sect1 p{
        font-size: 20px;
    }

    /* create see more and see less */
    .side-sect2 ul li{
        font-size: 30px;
    }
    .side-sect2 p{
        margin-top: 10px;
    }

    /* create each course you have clicked */
    .title-default__click{
        margin-left:30px;
    }

    .title-name p{
        font-size: 20px;
        padding-top: 20px;
    }


    /* draw line */
    .line{
        transform: translateY(-10px);
    }

    /* create course box container */
    .course-box__list--container{
        row-gap: 70px;
    }

    .course-box__list{height: 400px;}
    .course-box__list h4{
        font-size: 13px;
    }

    .course-box__list h5{
        font-size: 12px;
    }

    .course-box__list button{
       margin: 10px;
    }

    /* create choice course container */
    .choice-container{
        margin-top: 60px;
        padding: 20px 60px;
        row-gap: 50px;
    }
    /* create each choice box */
    .choice-box{
        gap: 50px 30px;
        padding: 0 45px;
    }

    .choice-box a img{
        width: 200px; height: 150px;
    }

    /* create description */
    .choice-box > .middle-description{
        width: 100%;
    }

    .choice-box > .middle-description h3{
        margin-top: 5px;
        font-size: 16px;
    }
      
    .choice-box > .middle-description span{
        font-size: 12px;
        font-weight: 500;
    }

    

    /* create footer container */
    .last-footer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 1300px;
        gap: 60px;
    }

    /* create logo and text below  */
    .last-footer .last-logo img{
        margin: 20px 50px;
    }

    .last-logo p{
        font-size: 20px;
        margin: 10px -70px;
    }

    .middle-more__info{
        margin-top: 1%;
    }

    .middle-more__info p{
        font-weight: bold;
        margin-left: -20px;
    }

    .social-media__list ul li a{
        font-size: 25px;
        margin-left: -60px;
    }
    .social-media__list ul li a span{
        font-size: 17px;
    }

    /* create two link columns */
    .choose-course p{
        margin-left: 5px;
    }

    .column-course ul li a{
        font-size: 15px;
    }
}





/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 768px){ 
    
	/* header section */
    .header-container{
        justify-content: space-between;
        padding: 0 10px;
        height: 100px;
        z-index: 9;
    }

    /* bars icon */
    nav.click-bars{
        display: block;
        color: white;
        list-style-type: none;
        font-size: 30px;
        position: absolute;
        top: 35px;
        right: 0;
        margin-right: 30px;
        cursor: pointer;
    }
    
    /* cross sign icon */
    nav.click-bars .fa-xmark{
        display: none;
    }

    /* put young-sci logo */
    .top-header__left--logo a img{
        width: 100%; height: 70px;
    }

    /* create 7 menus */
    .top-header__menu{ display: none;}

    /* design menu only in iphone */
    .top-header__menu--by_iphone{
        display: block;
        
    }
    /* create 7 menus */
    .top-header__menu--by_iphone ul{
        list-style-type: none;
        transform: translate(180px, 100px);
    }
  
    .top-header__menu--by_iphone ul li{
        display: flex;
        flex-direction: row;
        gap: 25px;
        padding: 20px 15px;
        background-color: rgb(21, 21, 94);
        border-bottom: 1px solid white;
        cursor: pointer;
    }

    .top-header__menu--by_iphone ul li img{
        width: 30px; height: 30px;
        margin-top: -5px;
    }

    .top-header__menu--by_iphone ul li:last-child{
        border-bottom: none;
    }
  
    .top-header__menu--by_iphone ul li a{
        color: white;
        font-size: 16px;
        padding-top: 10px;
        text-decoration: none;
    }
  
    .top-header__menu--by_iphone ul li a i{
        font-size: 20px;
    }
  
    .top-header__menu--by_iphone ul li:hover{
        transition: none;
        transform: none;
        background-color: rgb(62, 62, 204);
    }

    .top-header__menu--by_iphone ul li .fa-cart-plus{
        display: none;
    }

    .addtxt{
        display: block;
    }

    .field{margin-top: 140px;}
    .field input[type = "text"]{font-size: 18px; height: 55px;}
    .field a i{font-size: 20px; transform: translate(50px, 18px);}

    /* create description */
    .title-course{margin-left: 40px;}
    .title-course h1{font-size: 25px; margin-top: -10px;}
    .title-course p{ font-size: 15px; margin-left: -10px; }
    @keyframes anime-left{
        10%{
          margin-left: 170px;
        }
    }

    /* create course box container */
    .course-box__list--container{
        row-gap: 140px;
        grid-template-columns: repeat(2, 1fr);
    }   

    /* create box course */
    .course-box__list{height: 480px;}
    .course-box__list h4{font-size: 15px;}

    .course-box__list h5{font-size: 14px;}

    .course-box__list button{
       margin: 10px 35px;
       padding: 10px 20px;
    }
    .course-box__list a button{font-size: 15px;}


    .course-box__list a img{ width: 100%; height: 200px;}


    /* choose course you want  */
    .choose-box button{ font-size: 15px;}


    .sect1{margin-top: -140px;}
    .sect2{margin: 270px 80px;}
    .sect3{margin: -140px 20px;}

    .sect2 p, .sect3 p, .sect1 p{font-size: 20px;}

    /* create see more and see less */
    .side-sect2{
        flex-direction: column;
    }
    .side-sect2 ul{
        justify-content: space-between;
        padding: 0;
    }
    .side-sect2 ul li{
        font-size: 30px;
        padding: 0 ;
    }
    .side-sect2 p{
        margin-bottom: -40px;
        display: flex;
        justify-content: center;
        font-size: 20px;
    }

    /* .sect2 .course-box__list--container{
        grid-template-columns: repeat(4, 1fr);
    }

    .sect2  .course-box__list a img{
        width: 100%; height: 100px;
    }

    .sect2 .course-box__list button{
        margin: 10px 9px;
        padding: 10px 20px;
    } */


    /* create each course you have clicked */
    .title-default__click{
        margin-left: 10px;
    }

    .title-name p{
        font-size: 20px;
        padding-top: 20px;
        height: 60px;
        margin-top: -70px;
        border-radius: 20px 20px 0 0;
    }

    .six-box{
        flex-wrap: wrap;
        gap: 5px;
    }
    .choose-box button{
        height: 50px;
        font-size: 15px;
    }


    /* create choice course container */
    .choice-container{
        margin-top: 100px;
        padding: 20px 60px;
        row-gap: 70px;
        margin-left: -30px;
    }

    /* create each choice box */
    .choice-box{
        gap: 20px 25px;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0 10px;
    }

    .choice-box a img{
        width: 180px; height: 130px;
    }

    /* create description */
    .choice-box > .middle-description{
        width: 100%;
    }

    .choice-box > .middle-description h3{
        margin-top: 5px;
        font-size: 15px;
    }

    .choice-box > .middle-description h5{
        font-size: 13px;
    }
      
    .choice-box > .middle-description span{
        font-size: 12px;
        font-weight: 500;
    }

    .price-box{
        margin-top: -10px;
        position: absolute;
        right: 10px;
    }


    /* create footer container */
    .last-footer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 1900px;
        gap: 60px;
    }

    /* create logo and text below  */
    .last-footer .last-logo img{
        margin: 10px 50px;
    }

      
    .last-logo p{
        font-size: 15px;
        margin: 10px -70px;
    }

    .middle-more__info{
        margin-top: 1%;
    }

    .middle-more__info p{
        font-weight: bold;
        margin-left: -20px;
    }

    .social-media__list ul li a{
        font-size: 25px;
        margin-left: -60px;
    }
    .social-media__list ul li a span{
        font-size: 17px;
    }

    /* create two link columns */
    .choose-course p{
        margin-left: -10px;
    }

    .column-course ul li a{
        font-size: 15px;
    }
}








/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 576px) {

	/* header section */
    .header-container{
        justify-content: space-between;
        padding: 0 10px;
        height: 100px;
    }

    /* bars icon */
    nav.click-bars{
        display: block;
        color: white;
        list-style-type: none;
        font-size: 30px;
        position: absolute;
        top: 35px;
        right: 0;
        margin-right: 30px;
        cursor: pointer;
    }
    
    /* cross sign icon */
    nav.click-bars .fa-xmark{
        display: none;
    }

    /* put young-sci logo */
    .top-header__left--logo a img{
        width: 100%; height: 70px;
    }

    /* create 7 menus */
    .top-header__menu{ display: none;}


    /* design menu only in iphone */
    .top-header__menu--by_iphone{
        display: block;
    }
    /* design menu only in iphone  */
    .top-header__menu--by_iphone{
        display: block;
    }

    .top-header__menu--by_iphone ul{
        list-style-type: none;
        transform: translate(180px, 100px);
    }
  
    .top-header__menu--by_iphone ul li{
        display: flex;
        flex-direction: row;
        gap: 25px;
        padding: 20px 15px;
        background-color: rgb(21, 21, 94);
        border-bottom: 1px solid white;
        cursor: pointer;
    }

    .top-header__menu--by_iphone ul li img{
        width: 30px; height: 30px;
        margin-top: -5px;
    }

    .top-header__menu--by_iphone ul li:last-child{
        border-bottom: none;
    }
  
    .top-header__menu--by_iphone ul li a{
        color: white;
        font-size: 16px;
        padding-top: 10px;
        text-decoration: none;
    }
  
    .top-header__menu--by_iphone ul li a i{
        font-size: 20px;
    }
  
    .top-header__menu--by_iphone ul li:hover{
        transition: none;
        transform: none;
        background-color: rgb(62, 62, 204);
    }

    .top-header__menu--by_iphone ul li .fa-cart-plus{
        display: none;
    }

    .addtxt{
        display: block;
    }

    .field{margin-top: 140px;}
    .field input[type = "text"]{font-size: 18px; height: 55px;}
    .field a i{font-size: 20px; transform: translate(40px, 18px);}

    /* create description */
    .title-course{margin-left: 35px;}
    .title-course h1{font-size: 18px; margin-top: -20px; margin-left: -15px;}
    @keyframes anime-left{
        10%{
          margin-left: 100px;
          transition: 0.5s;
        }
      }


    .title-course p{ font-size: 15px; margin-left: -10px; }

    @keyframes anime-left{
        10%{
          margin-left: 170px;
        }
    }

    /* create each course you have clicked */
    .title-default__click{
        margin-left: 10px;
    }

    .title-name p{
        font-size: 20px;
        padding-top: 17px;
        height: 60px;
        margin-top: -70px;
        border-radius: 20px 20px 0 0;
    }

    .six-box{
        flex-wrap: wrap;
        width: 90%;
        gap: 5px;
    }
    .choose-box button{
        height: 50px;
        font-size: 16px;
        padding: 15px 20px;
    }

    
    /* create course box container */
    .course-box__list--container{
        row-gap: 70px;
        grid-template-columns: repeat(1, 1fr);
        padding: 10px 30px;
    }   

    /* create box course */
        /* create box course */
    .course-box__list{height: 530px;}
    .course-box__list > h4{font-size: 20px;}
    .course-box__list > h5{font-size: 15px;}
    .course-box__list > a button{
       margin: 10px 30px;
       padding: 10px 20px;
       font-size: 15px;
    }


    .course-box__list a img{
        border-radius: 30px 30px 0 0;  
        width: 100%;
        height: 250px;
    }


    .sect1{margin-top: -140px;}
    .sect2{margin: 220px 80px;}
    .sect3{margin: -140px 20px;}

    .sect2 p, .sect3 p, .sect1 p{font-size: 20px;}


    /* create see more and see less */
    .side-sect2{
        flex-direction: column;
    }
    .side-sect2 ul{
        justify-content: space-between;
        padding: 0;
    }
    .side-sect2 ul li{
        font-size: 30px;
        padding: 0;
    }
    .side-sect2 p{
        margin-bottom: -40px;
        display: flex;
        justify-content: center;
        font-size: 14px;
    }

    /* .sect2 .course-box__list--container{
        grid-template-columns: repeat(4, 1fr);
    }

    .sect2  .course-box__list a img{
        width: 100%; height: 100px;
    }

    .sect2 .course-box__list button{
        margin: 10px 9px;
        padding: 10px 20px;
    } */


    /* create choice course container */
    .choice-container{
        margin-top: 100px;
        padding: 20px 60px;
        row-gap: 70px;
        margin-left: -30px;
    }

    /* create each choice box */
    .choice-box{
        gap: 20px 25px;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0 10px;
    }

    .choice-box a img{
        width: 180px; height: 130px;
    }

    /* create description */
    .choice-box > .middle-description{
        width: 100%;
    }

    .choice-box > .middle-description h3{
        margin-top: 5px;
        font-size: 15px;
    }

    .choice-box > .middle-description h5{
        font-size: 13px;
    }
      
    .choice-box > .middle-description span{
        font-size: 12px;
        font-weight: 500;
    }

    .price-box{
        margin-top: -10px;
        position: absolute;
        right: 10px;
    }


    /* create footer container */
    .last-footer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 1950px;
        gap: 60px;
    }

    /* create logo and text below  */
    .last-footer .last-logo img{
        margin: 10px 50px;
    }

      
    .last-logo p{
        font-size: 15px;
        margin: 10px -70px;
    }

    .middle-more__info{
        margin-top: 1%;
        margin-left: -30px;
    }

    .middle-more__info p{
        font-weight: bold;
        margin-left: 20px;
    }

    .social-media__list ul li a{
        font-size: 25px;
    }
    .social-media__list ul li a span{
        font-size: 17px;
    }

    /* create two link columns */
    .choose-course p{
        margin-left: -25px;
    }

    .column-course ul li a{
        font-size: 15px;
        margin-left: -20px;
    }
}